#header
	%h1 UK<span>Course</span>Map
	%p Find Your Future, Fast

#search
	%form#search_form
		%h2 What's your favourite interest?
		.field
			.note e.g. music, hairdressing, art...
			%input{ :type => :text, :name => :job_tags }

		%h2 Where would you like to study?
		.field
			= select_tag :country, options_for_select([["--Anywhere--", ''], "Scotland", "England", "Wales", "Northern Ireland"])

		%h2 What is important to you?
		%br/
		.field.option
			%label 
				Opportunities for further study
				= check_box_tag "priorities[study]"
		.field.option
			%label
				Finding work after graduation
				= check_box_tag "priorities[work]"
		.field.option
			%label 
				Studying part-time
				= check_box_tag "priorities[parttime]"
		.field.option
			%label 
				Fees and accommodation costs
				= check_box_tag "priorities[cost]"
		.field.option
			%label 
				Salary
				= check_box_tag "priorities[salary]"		

		.field.button
			= link_to "Show me my future", "#", :id => :search_button
#body
	
#svg_gradients
	%svg{:xmlns => "http://www.w3.org/2000/svg", :width => "100%", :height => "100%", :viewBox => "0 0 1 1", :preserveAspectRatio => "none"}
		- SearchController::Gradients.each_with_index do |gradient_pair, idx|
			- start = gradient_pair[0]
			- stop = gradient_pair[1]
			%radialGradient{ :id => "gradient_#{idx+=1}", :gradientUnits => "objectBoundingBox", :cx => "50%", :cy => "50%", :r => "50%", :fx => "50%", :fy => "50%"}
				%stop{:style => "stop-color: rgb(#{start})", :offset => "0%"}
				%stop{:style => "stop-color: rgb(#{stop})", :offset => "100%"}

#graph
	